{% extends 'Main/base.html' %}

{% block header_section %}

{% endblock header_section %}

{% block about_section %}

{% endblock about_section %}

{% block title %}
Libros
{% endblock title %}

{% block content_title %}
<h1 class="text-center my-4" style="padding-top: 90px;">Todos los Libros</h1>
{% endblock content_title %}

{% block content %}

<div class="d-flex justify-content-between mb-3">
    <form action="{% url 'Libros:libros' %}" method="get" class="d-flex align-items-center">
        <input type="text" name="busqueda" placeholder="Buscar..." class="form-control w-auto">
        <a href="{% url 'Libros:libros' %}" class="btn btn-outline-secondary ms-2" title="Limpiar búsqueda">
            <i class="fa-solid fa-rotate-right"></i>
        </a>
    </form>

    <a href="#" class="btn btn-secondary" title="Agregar Libro"><i class="fa-solid fa-plus"></i> Nuevo</a>
</div>

<div class="table-responsive">
    {% if libros %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Fecha de Publicación</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
            <tr>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.fecha_publicacion }}</td>
                <td class="text-center">
                    <a class="btn btn-secondary btn-sm" title="Detalle"
                        href="{% url 'Libros:libro_detail' libro.id %}"><i class="fa-solid fa-circle-info"></i></a>
                    <a class="btn btn-secondary btn-sm" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="btn btn-secondary btn-sm" title="Eliminar"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert text-center" role="alert">
        No hay libros disponibles.
    </div>
    {% endif %}
</div>
{% endblock content %}