{% extends 'Main/base.html' %}

{% block title %}
Inicio
{% endblock title %}

{% block header %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Bienvenido al Gestor de Libros</div>
        <div class="masthead-heading text-uppercase">¡Es un placer tenerte aquí!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'Libros:libros' %}">Ver Todos Los Libros</a>
    </div>
</header>
{% endblock header %}

{% block about %}
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Acerca de Mí</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
    </div>
</section>
{% endblock about %}

{% block footer %}
<!-- Footer-->
<footer class="footer py-4 bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start text-light">Copyright &copy; Proyecto de Gestión de Libros 2025</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-light btn-social mx-2" href="https://github.com/ignaciotrucco" aria-label="GitHub" target="_blank"><i class="fab fa-github"></i></a>
                <a class="btn btn-light btn-social mx-2" href="https://www.instagram.com/truccoigna/" aria-label="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-light btn-social mx-2" href="https://www.linkedin.com/in/ignaciotrucco/" aria-label="LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <p class="text-light mb-0">Desarrollado por <b>Ignacio Trucco</b>.</p>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}